<!DOCTYPE html>
<html lang="en" xmlns: th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container-fluid">
    <h3> Driver id: <span th:text="${driver.id}"></span></h3>
        <div>
            <p> First Name : <span th:text="${driver.getFirstName()}"></span> </p>
            <p> Last Name : <span th:text="${driver.getLastName()}"></span></p>
            <p> PESEL : <span th:text="${driver.getPesel()}"></span></p>
            <p> Date of Born : <span th:text="${driver.getDateOfBorn()}"></span></p>
            <p> Date of Employment : <span th:text="${driver.getDateOfEmployment()}"></span></p>
            <p> Truck Registration Number : <span th:text="${driver.getRegistrationNumber()}"></span></p>
            <p> Fuel (L) : <span th:text="${driver.getFuel()}"></span></p>
            <p> Kilometers : <span th:text="${driver.getKilometers()}"></span></p>
            <p> Basic Salary (PLN) : <span th:text="${driver.getSalary()}"></span></p>
            <p> Final Salary (PLN) : <span th:text="${driver.showFinalSalary()}"></span></p>
            <p> Fuel Consumption (L/100KM) : <span th:text="${driver.showConsumption()}"></span></p>
        </div>
        <div>
            <button type="button" class="btn btn-danger" onclick="cancelForm()">Back</button>
        </div>
</div>
    <script type="text/javascript">
        function cancelForm(){
            window.location = "[[@{/drivers}]]";
        }
    </script>
</body>
</html>